<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/index/style.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <!-- Icon -->
  <script src="https://kit.fontawesome.com/ede9e54d69.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script>
    function goTo(destination) {
      let url = new URL(window.location.href);
      url.searchParams.set('page', destination);
      window.location.href = url;
    }
  </script>
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  <title>Search {{.Data.Query}} - Techdo</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar sticky-top ps-2 pe-2">
    <div class="container-fluid">
      <div class="left-nav justify-content-start col-6">
        <a href="/" class="navbar__logo col">
          <img src="/static/img/logo 1.svg" class="white-logo">
          <span class="align-middle text-logo">
            <span class="half-logo gradient">Tech</span><span>Do</span>
          </span>
        </a>

        <form class="navbar__search-box-container justify-content-start" method="get" action="/search">
          <input class="navbar__search-box form-control me-2" type="search" placeholder="Search" aria-label="Search"
            id="search-box" name="q">
          <button class="navbar__search-button" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

      </div>

      <div class="right-nav justify-content-end col">
        {{if .Data.LoggedIn}}
        <a class="navbar__create-post-btn" href="/post/create">Create Post</a>
        <div class="user-profile-container" style="background-image: url('{{.Data.User.Picture}}');"></div>
        {{else}}
        <a class="navbar__login-btn" href="/login">Login</a>
        <a class="navbar__create-acc-btn" href="/signup">Create Account</a>
        {{end}}
      </div>
      <button href="" class="navbar__auth-nav-btn"><i class="fa-solid fa-user"></i></button>
    </div>

    {{if .Data.LoggedIn}}
    <!-- User-Profile Nav -->
    <div class="card user-nav" style="width: 18rem;">
      <div class="card-body">
        <ul>
          <li><a href="/user/{{.Data.User.UserID}}">{{.Data.User.FirstName}} {{.Data.User.LastName}}</a></li>
          <hr>
          <li><a href="/user">Dashboard</a></li>
          <li><a href="/post/create">Create Post</a></li>
          <li><a href="/user/settings">Settings</a></li>
          <hr>
          <li><a href="/logout">Sign Out</a></li>
        </ul>
      </div>
    </div>

    <div class="card auth-nav" style="width: 18rem;">
      <div class="card-body">
        <ul>
          <li><a href="/user/{{.Data.User.UserID}}">{{.Data.User.FirstName}} {{.Data.User.LastName}}</a></li>
          <hr>
          <li><a href="/user">Dashboard</a></li>
          <li><a href="/post/create">Create Post</a></li>
          <li><a href="/user/settings">Settings</a></li>
          <hr>
          <li><a href="/logout">Sign Out</a></li>
        </ul>
      </div>
    </div>
    {{else}}
    <!-- Auth Nav Menu -->
    <div class="card auth-nav" style="width: 18rem;">
      <div class="card-body">
        <ul>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Create Account</a></li>
        </ul>
      </div>
    </div>
    {{end}}
  </nav>


  <!-- Search Body -->
  {{$post := len .Data.Posts}}
  {{$active := .Data.PageNav.Active}}
  {{$max := .Data.PageNav.Max}}
  <div class="container pt-4 ps-5 pe-5 body-container ">
    <div class="row justify-content-center ">
      <div class="col-lg px-0">
        <h2 class="mb-1">Search Result for <span class="keywords">"{{.Data.Query}}"</span></h2>

        <div class="col-sm px-0 row justify-content-end align-items-center">
          {{if ne $post 0 }}
          <span class="col">Showing {{.Data.StartIndex}} - {{$.Data.EndIndex}} posts from {{.Data.PostsCount}}
            result</span>
          {{else}}
          <span class="col">Not showing any result</span>
          {{end}}
          <label for="form-select" class="col-sm-2 col-form-label text-end">Limit</label>

          <div class="col-sm-2">
            <select class="form-select limit-select">
              <option value="8">8</option>
              <option value="16">16</option>
              <option value="32">32</option>
              <option value="64">64</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3 justify-content-center justify-content-center px-0">
      <div class="col-lg-4 me-3 p-4 card mt-2" style="height: 70vh;">
        <h2>Filter</h2>

        <!-- Category Input -->
        <label for="blog-category-form">Category</label>
        <select class="form-select mt-2" id="blog-category-filter" aria-label="Default select example">
          <option value="" selected>All</option>
          {{range $elem := .Data.Categories}}
          <option value="{{$elem.CategoryName}}" class="text-capitalize">{{$elem.CategoryName}}</option>
          {{end}}
        </select>

        <!-- Start Date Input -->
        <label class="mt-3" for="blog-start-date-filter">Start Date</label>
        <input class="mt-2" type="date" id="blog-start-date-filter">

        <!-- End Date Input -->
        <label class="mt-3" for="blog-end-date-filter">End Date</label>
        <input class="mt-2" type="date" id="blog-end-date-filter">
      </div>

      <div class="col-lg mt-2">
        {{if ne $post 0 }}
        {{range $elem := .Data.Posts}}
        <div class="row posts-container">
          <div class="card mb-3 post" style="width: 100%;">
            <div class="blog-cover" style="background-image: url('{{$elem.Banner}}');"></div>
            <div class="card-body fill-width">
              <h5 class="card-title">{{$elem.Title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">By {{$elem.Author}} on {{$elem.CreatedAt}}</h6>
              <p class="card-text">{{$elem.Body}}<a href="/post/{{$elem.PostID}}">...</a></p>
              <a href="/post/{{$elem.PostID}}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        {{end}}
        {{else}}
        <div class="card container d-flex not-found-container p-5">
          <img class="m-auto" src="/static/css/css-images/not-found-ilustration.png" style="width: 200px;"
            alt="cute cat">
          <h3 class="mt-3 fw-bold" style="text-align:center;">No result for <span
              class="keywords">"{{.Data.Query}}"</span></h3>
        </div>
        {{end}}

        <div class="col text-center">
          <div class="page-nav">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link prev-button">&lt;</a>
              </li>

              {{range $elem := .Data.PageNav.PageList}}
              {{if eq $elem $active}}
              <li class="page-item active">
                <span>{{$elem}}</span>
              </li>
              {{else if eq $elem -1}}
              <li class="page-item disabled">
                <a class="page-link">...</a>
              </li>
              {{else}}
              <li class="page-item">
                <a class="page-link" onclick="goTo('{{$elem}}')">{{$elem}}</a>
              </li>
              {{end}}
              {{end}}

              <li class="page-item">
                <a class="page-link next-button">&gt;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="/static/js/index.js"></script>
  <script>
    let url = new URL(window.location.href);
    const qParam = url.searchParams.get('q');
    const pageParam = url.searchParams.get('page');
    const limitParam = url.searchParams.get('limit');
    const startDateParam = url.searchParams.get('start');
    const endDateParam = url.searchParams.get('end');
    const categoriesParam = url.searchParams.get('category');

    let page = 1;
    let limit = 8;
    let start = '';
    let end = '';
    let categories = '';

    if (qParam) {
      document.querySelector("#search-box").value = qParam;
    }

    if (categoriesParam) {
      categories = categoriesParam
      document.querySelector("#blog-category-filter").value = categories;
    }

    if (startDateParam) {
      start = startDateParam;
      document.querySelector("#blog-start-date-filter").value = start;
    }

    if (endDateParam) {
      end = endDateParam;
      document.querySelector("#blog-end-date-filter").value = end;
    }

    if (pageParam) {
      page = parseInt(pageParam);
    }

    if (limitParam) {
      limit = parseInt(limitParam);
      document.querySelector('.limit-select').value = limit;
    }

    document.querySelector(".next-button").addEventListener("click", (e) => {
      if (page < parseInt("{{$max}}")) {
        page++;
        goPage();
      }
    });

    document.querySelector(".prev-button").addEventListener("click", (e) => {
      if (page > 1) {
        page--;
        goPage();
      }
    });

    document.querySelector(".limit-select").addEventListener("change", (e) => {
      limit = document.querySelector(".limit-select").value;
      setLimit();
    });

    document.querySelector("#blog-start-date-filter").addEventListener("change", (e) => {
      start = document.querySelector("#blog-start-date-filter").value;
      setStart();
    });

    document.querySelector("#blog-end-date-filter").addEventListener("change", (e) => {
      end = document.querySelector("#blog-end-date-filter").value;
      setEnd();
    });

    document.querySelector("#blog-category-filter").addEventListener("change", (e) => {
      categories = document.querySelector("#blog-category-filter").value;
      setCategories();
    });

    function goPage() {
      url.searchParams.set('page', page);
      window.location.href = url;
    }

    function setStart() {
      url.searchParams.set('start', start);
      window.location.href = url;
    }

    function setEnd() {
      url.searchParams.set('end', end);
      window.location.href = url;
    }

    function setCategories() {
      url.searchParams.set('category', categories);
      window.location.href = url;
    }

    function setLimit() {
      url.searchParams.set('limit', limit);
      window.location.href = url;
    }
  </script>
</body>

</html>