<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/login/Login-Form-with-Photo.css" />
    <link rel="stylesheet" href="static/css/login/Navigation-with-Button.css" />
    <link rel="stylesheet" href="static/css/login/styles.css" />
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container">
            <a class="navbar-brand" href="/" style="color: #333333;">Listify</a>
        </div>
    </nav>
    <section class="register-photo">
        <div class="form-container">
            <div class="image-holder" style="--bs-danger: #ff0018; --bs-danger-rgb: 255, 0, 24"></div>
            <form method="post" action="/login">
                <h2 class="text-center">
                    <strong>Log In</strong> to an account
                </h2>
                <div class="mb-3">
                    <input class="form-control" type="username" id="username" placeholder="Email" />
                    <span id="username-alert"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" id="password" placeholder="Password" />
                    <span id="pass-alert"></span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary d-block w-100" type="submit" style="background: #3f2178"
                        id="submit-btn">
                        Log In
                    </button>
                    <span id="form-messages"></span>
                </div>

                <a class="already" href="/signup">Didn't have an account? Create account here.</a>
            </form>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        const form = {
            email: document.querySelector("#username"),
            password: document.querySelector("#password"),
            submit: document.querySelector("#submit-btn"),
            messages: document.getElementById("form-messages"),
            pass_alert: document.getElementById("pass-alert"),
            username_alert: document.getElementById("username-alert"),
        };

        let checkForm = () => {
            let failed = 0
            if (form.email.value === "") {
                form.username_alert.style.color = "red";
                form.username_alert.innerHTML = "Username must be filled";
                failed++;
            } else {
                form.username_alert.innerHTML = ""
            }

            if (form.password.value === "") {
                form.pass_alert.style.color = "red";
                form.pass_alert.innerHTML = "Password must be filled";
                failed++;
            } else {
                form.pass_alert.innerHTML = ""
            }

            if (failed) {
                return false;
            } else {
                return true;
            }
        }

        form.submit.addEventListener("click", (e) => {
            e.preventDefault();

            if (checkForm()) {
                document.getElementById("form-messages").innerHTML = "";

                const login = "/login";

                fetch(login, {
                    method: "POST",
                    redirect: "follow",
                    headers: {
                        Accept: "application/json, text/plain, */*",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        username: form.email.value,
                        password: form.password.value,
                    }),
                })
                    .then((response) => response.json())
                    .then((result) => {
                        if (result.error) {
                            document.getElementById(
                                "form-messages"
                            ).style.color = "red";
                            document.getElementById("form-messages").innerHTML =
                                result.data;
                        } else {
                            window.location.href = result.data;
                        }
                    });
            }
        });
    </script>
</body>

</html>