/* Custom Font */
@import url("../others/custom-font.css");
/* Navbar CSS */
@import url("../others/navbar.css");

/* Body CSS */
.post {
    overflow: hidden;
    align-items: center;
}

.card .blog-cover {
    width: 100%;
    height: 12rem;
    background-size: cover;
}

.card-subtitle {
    font-size: .75em;
}

.fill-width {
    inline-size: -webkit-fill-available;
    inline-size: -moz-available;
    inline-size: fill-available;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a .card-title {
    color:black;
    text-decoration: none;
    background-color: transparent;
}

a .card-title:hover {
    color:rgb(68, 68, 68);
    text-decoration: none;
    background-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #7102DF;
    border-color: #7102DF;
}

/* Page Nav */

.page-nav ul li.active a, .page-nav ul li.active span {
    background: #7102DF;
    color: #fff;
    border: 1px solid transparent;
}

.page-nav ul li a, .page-nav ul li span {
    color: rgb(53, 53, 53);
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    border-radius: 50% !important;
    border: 1px solid #e6e6e6;
}


/* Responsive Breakpoint */
/* Ukuran Desktop */
@media (min-width: 428px) {
    .card{
        width: 18rem;
    }
}

@media (min-width: 576px) {
    .card{
        width: 18rem;
    }
}

@media (min-width: 768px) {
    .card{
        width: 16rem;
    }
}

@media (min-width: 992px) {
    .card{
        width: 14rem;
    }
}

@media (min-width: 1200px) { 
    .card{
        width: 25rem;
    }
    .h-custom-2 {
        height: 100%;
    }
}