/* Custom Font */
@import url("../others/custom-font.css");
/* Navbar CSS */
@import url("../others/navbar.css");

/* Body CSS */
.post {
    overflow: hidden;
    align-items: center;
}

.card .blog-cover {
    width: 105%;
    height: 250px;
    margin-top: -2px;
    background-size: cover;
}

.fill-width {
    inline-size: -webkit-fill-available;
    inline-size: -moz-available;
    inline-size: fill-available;
}

/* Responsive Breakpoint */
/* Ukuran Desktop */
@media screen and (max-width: 1280px) {
    .h-custom-2 {
        height: 100%;
    }
}