/* Custom Font */
@import url("../others/custom-font.css");
/* Navbar CSS */
@import url("../others/navbar.css");

/* Body CSS */
.post {
    overflow: hidden;
    align-items: center;
}

.card .blog-cover {
    width: 105%;
    height: 250px;
    margin-top: -2px;
    background-size: cover;
}

.fill-width {
    inline-size: -webkit-fill-available;
    inline-size: -moz-available;
    inline-size: fill-available;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #7102DF;
    border-color: #7102DF;
}

/* Page Nav */

.page-nav ul li.active a, .page-nav ul li.active span {
    background: #7102DF;
    color: #fff;
    border: 1px solid transparent;
}

.page-nav ul li a, .page-nav ul li span {
    color: rgb(53, 53, 53);
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    border-radius: 50% !important;
    border: 1px solid #e6e6e6;
}

/* Responsive Breakpoint */
/* Ukuran Desktop */
@media screen and (max-width: 1280px) {
    .h-custom-2 {
        height: 100%;
    }
}
